@page {
    size: A4;
    margin: 0cm;
}

@media print {
    * {
        visibility: visible !important;
    }

    body {
        overflow: visible !important;
    }

    aside {
        break-inside: avoid;
        page-break-inside: avoid;
    }
}