@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    --corTarget: #401612;
    --corText: white;

    --MainFont: "Oswald", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--MainFont);
}

.container {
    width: 100vw;
    /* background-color: red; */
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: var(--corText);
    background-color: var(--corTarget);
    margin-bottom: 20px;
}

.infors {
    text-align: center;
}

.infor_pessoais {
    line-height: 1.2;
}

.infor_contato {
    line-height: 1.6;
}

#foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

aside {
    height: auto;
}

.aside-h1 {
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--corTarget);
    color: var(--corText);
    margin: 0px;
    padding: 10px;
}

ul {
    list-style: none;
}

ul li:first-child p {
    font-weight: bold;
    font-size: 18px;
}

/* .aside-formaçao { height: auto;} */

.aside-competencias {}

.aside-idiomas {}

.aside-experiencias {}



footer{
    text-align: center;
}



@media(max-width: 500px) {
    .infor_pessoais h1 {
        font-size: 25px;
    }

    .infor_contato {
        font-size: 12px;
    }

    #foto {
        width: 150px;
        height: 150px;
    }
}