@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --corTarget: #401612;
    --corText: white;

    --MainFont: "Oswald", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--MainFont);
}

.container {
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: var(--corText);
    background-color: var(--corTarget);
    margin-bottom: 20px;
}

.infors {
    text-align: center;
}

.infor_pessoais {
    line-height: 1.2;
    line-height: 1.4;
    margin: 20px;
}

.infor_contato {
    line-height: 2.0;
}

#foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

aside {
    height: auto;
}

.target-h1 {
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--corTarget);
    color: var(--corText);
    margin: 0px;
    padding: 10px;
}

/* FORMAÇÃO */

ul {
    list-style: none;
    margin: 20px;
}

.aside-formacao ul li{
    margin: 10px;
}

.aside-formacao ul li:first-child p {
    font-weight: bold;
    font-size: 18px;
}

/* EXPERIENCIAS */

.aside-experiencias section{
    text-align: justify;
    margin: 20px;
}

.section-p {
    font-weight: bold;
    font-size: 18px;
}


/* TURNÊS */












/* COMPETENCIAS */

.aside-competencias {
    display: flex;
    flex-direction: column;
}

.aside-competencias ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

/* IDOMAS */
.aside-idiomas ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


footer {
    text-align: center;
}

@media(width <= 600px) {

    .aside-competencias ul {
        grid-template-columns: repeat(1, 1fr);
       
    }
}

@media(max-width: 500px) {
    .infor_pessoais h1 {
        font-size: 25px;
    }

    .infor_contato {
        font-size: 12px;
    }

    #foto {
        width: 150px;
        height: 150px;
    }
}